@font-face {
  font-family: 'Gotham Pro';
  src: url('../Gotham-Pro/GothamPro.wolf') format('wolf');
}

body {
  margin: 0;
  font-family: 'Gotham Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
